body {
	background-color: #666666;
}

h1 {
	background-color: black;
	color: white;
	padding: 20px;
}

button {
	margin: 5px;
	padding: 0px 5px 0px 5px;
}

#animal-input {
	width: 100%;
	margin-bottom: 5px;
}

.gifs {
	display: inline-block;
	color: #ffffff;
	margin: 0px 5px 5px 5px;
}

img {
	height: 200px;
}